{% extends 'base.html' %}
{% load static %}


{% block title %}
{{ title }}
{% endblock title %}

{% block carousel %}
{% endblock carousel %}


{% block main %}

<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-between">

        <div class="col-7">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <b>Категория: {{ article.category.title }}</b>
                        </div>
                        <div>
                            <a href="" class="btn btn-danger">
                                <b>Удалить</b>
                            </a>
                            <a href="" class="btn btn-warning">
                                <b>Изменить</b>
                            </a>
                            <a href="" class="btn btn-success">
                                <b>Назад</b>
                            </a>
                        </div>
                    </div>
                </div>

                <img src="{{ article.image.url }}" alt="" class="">

                <div class="card-body">
                    <h5 class="text-center">{{ article.title }}</h5>
                    <p>{{ article.desc }}</p>
                    <h6>Автор: </h6>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <b>{{ article.updated_at }}</b>
                        </div>
                        <div>
                           <b>Просмотры: {{ article.views }}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            {% for article in breaking_articles %}

            <div class="card mb-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <b>Категория: {{ article.category }}</b>
                        </div>
                        <div>
                            <b>Просмотры: {{ article.views }}</b>
                        </div>
                    </div>
                </div>
                <a href="{% url 'article_detail' article.id %}">
                    <img src="{% if article.image %}
                              {{ article.image.url }}
                              {% else %}
                              {% static 'blog/images/card_static.png' %}
                              {% endif %}"
                         class="card-img-top"
                         alt="...">
                </a>

                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.desc }}</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <div>
                            <b>Автор:</b>
                        </div>
                        <div>
                            <b>{{ article.created_at }}</b>
                        </div>
                    </div>
                </div>


            </div>

            {% endfor %}
        </div>

    </div>
</div>



{% endblock main %}